[buildout]
parts = 
    python
    test
    sphinxbuilder
    pep8
    pyflakes
    lxml
    pylxml
develop = . develop-eggs/pyzmq
eggs = tornadotools [mongrel2]
versions = versions
extensions =
    buildout.dumppickedversions
    buildout.bootstrap

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[test]
recipe = pbp.recipe.noserunner
eggs = tornadotools [test]
defaults =  
    --verbosity=3
    --with-doctest
    --doctest-extension=txt
    --where=${buildout:directory}/test

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
eggs = ${buildout:eggs}
source = ${buildout:directory}/docs-source
build = ${buildout:directory}/docs

[pep8]
recipe = zc.recipe.egg
eggs = pep8
entry-points = pep8=pep8:_main
initialization = 
    sys.argv[1:1] = ('--exclude=gen --statistics --count tornadotools').split()

[pyflakes]
recipe = zc.recipe.egg
eggs = pyflakes
scripts = pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main

[pylxml]
recipe=zc.recipe.egg
interpreter=pylxml
eggs=
    lxml

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[versions]
Jinja2 = 2.5.5
Pygments = 1.4
Sphinx = 1.0.7
collective.recipe.sphinxbuilder = 0.7.0
coverage = 3.5
distribute = 0.6.19
pbp.recipe.noserunner = 0.2.6
pep8 = 0.6.1
pycurl = 7.19.0
pyflakes = 0.4.0
tornado = 2.0
tnetstring = 0.2.0

#Required by:
#collective.recipe.sphinxbuilder 0.7.0
docutils = 0.7

#Required by:
#pbp.recipe.noserunner 0.2.6
nose = 1.0.0

#Required by:
#collective.recipe.sphinxbuilder 0.7.0
zc.buildout = 1.5.2

#Required by:
#collective.recipe.sphinxbuilder 0.7.0
zc.recipe.egg = 1.3.2

lxml = 2.3
